* {
}

.base-card {
  display: block;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;

}

.project-card {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 15px 0px;
}

.project-card:hover {
  padding: 20px;
  cursor: pointer;
  background-color: #eee;
  border-radius: 10px;
}

.back-btn {
  margin: 0 0 0 30px;
}

.task-card {
  padding: 10px;
  border-radius: 10px;
}

.task-card:hover {
  padding: 10px;
  cursor: pointer;
  background-color: #eee;
  border-radius: 10px;
}

.task-card > h4 {
  display: inline;
  margin: 0 15px;
}

.login-page {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;

  margin: 0;
  /* position: absolute; */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(10%);
}

.input-card {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;

  background-color: lightgrey;
  border-radius: 10px;

  /* margin: 0; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.input-card > input {
  width: 75%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0px auto 30px auto;
}

.input-card > label {
  width: 75%;
  border: none;
  border-radius: 5px;
  padding: 0 0 10px 0;
  margin: 0px auto ;
}

a {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: -20px auto 5px auto;
}

input,
button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0px auto 30px auto;
}

button {
  width: 75%;
}

.input-card > button {
  width: 75%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0px auto 30px auto;
}

input:first-child {
  margin: 30px auto;
  /* margin: 0 0 30px 0; */
}

button:hover {
  background-color: #fff;
}

.input-card > h1 {
  margin: 30px auto;
}

h1 {
  /* margin: 30px auto; */
  text-align: center;
  margin-top: 30px;
}

input[type=checkbox] {
  display:inline-block;
  transform: scale(1.5);
  border-radius: 25px;
}

.add-new-project {
  background-color: #ddd
}